body {
  font-family: 'Roboto', sans-serif;
  background-color: #281414;
  margin: 0;
  padding: 0;
  color: #ffffff;
}

html {
  scroll-behavior: smooth;
}

/* Orange Navigation Bar */
.navbar {
  background-color: #3a1414;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  position: relative;
  z-index: 1000;
}

.navbar-brand {
  font-size: 1.5em;
  font-weight: bold;
}

.menu-container {
  position: relative;
}

.menu-icon {
  cursor: pointer;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  transition: transform 0.3s ease;
}

.line {
  width: 100%;
  height: 4px;
  background-color: #fff;
  border-radius: 4px;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.menu-icon.open .line1,
.menu-icon.open .line2,
.menu-icon.open .line3 {
  transform: translateX(0);
}

.menu-icon.open .line1 {
  transform: translateY(-8px);
}

.menu-icon.open .line2 {
  opacity: 1;
}

.menu-icon.open .line3 {
  transform: translateY(8px);
}

/* Dropdown Options Styling */
.dropdown {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transform: scaleY(0);
  transform-origin: top;
  transition: transform 0.3s ease;
  z-index: 100;
}

.dropdown.show {
  transform: scaleY(1);
}

.option {
  padding: 15px;
  text-align: center;
  background-color: #474747;
  color: white;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.1s;
  font-size: 1.2em;
}

.option:hover {
  background-color: #333333;
}

.option:active {
  transform: scale(0.98);
}

/* Player Counter Styling */
.player-count {
  top: 30%;
  left: 30%;
  font-size: 24px;
  color: #ffffff;
  background-color: #611d00;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Container and other sections */
.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.logo {
  width: 100px;
  margin-right: 20px;
}

h1 {
  font-size: 2.8em;
  color: #fffdfd;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

main p {
  font-size: 1.5em;
  margin-bottom: 30px;
  color: #ffffff;
}

/* Buttons */
.button-group {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.join-button, .info-button, .rules-button, .discord-button, .shop-button {
  display: inline-block;
  background-color: #474747;
  color: #ffffff;
  padding: 15px 25px;
  font-size: 1.2em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.join-button::after, .info-button::after, .rules-button::after, .discord-button::after, .shop-button::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300%;
  height: 300%;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  transition: width 0.5s ease, height 0.5s ease, top 0.5s ease, left 0.5s ease;
  z-index: 0;
  transform: translate(-50%, -50%) scale(0);
}

.join-button:hover::after, .info-button:hover::after, .rules-button:hover::after, .discord-button:hover::after, .shop-button:hover::after {
  width: 400%;
  height: 400%;
  transform: translate(-50%, -50%) scale(1);
}

.join-button:hover, .info-button:hover, .rules-button:hover, .discord-button:hover, .shop-button:hover {
  background-color: #333333;
  transform: translateY(-3px);
}

.join-button:focus, .info-button:focus, .rules-button:focus, .discord-button:focus, .shop-button:focus {
  outline: none;
}

/* Info Section */
.info-section {
  margin-top: 40px;
  padding: 20px;
  background-color: #5c5c5c;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: background-color 0.5s ease;
}

.info-section.highlight {
  background-color: rgba(255, 215, 0, 0.5);
}

.info-section h2 {
  font-size: 2em;
  color: #ffffff;
}

.info-section p, .info-section ul {
  font-size: 1.1em;
  color: #ffffff;
}

.info-section ul {
  list-style-type: disc;
  padding-left: 20px;
}

.ownership-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 20px 0;
}

.owner {
  text-align: center;
  margin: 15px;
}

.avatar {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
}

/* Media Queries for Mobile Responsiveness */
@media (max-width: 768px) {
  .navbar-brand {
    font-size: 1.2em;
  }

  .player-count {
    font-size: 18px;
    padding: 10px;
    top: 20%;
    left: 20%;
  }

  .container {
    padding: 10px;
  }

  h1 {
    font-size: 2em;
  }

  main p {
    font-size: 1.2em;
  }

  .button-group {
    flex-direction: column;
    gap: 10px;
  }

  .join-button, .info-button, .rules-button, .discord-button, .shop-button {
    padding: 10px 15px;
    font-size: 1em;
  }

  .info-section h2 {
    font-size: 1.5em;
  }

  .ownership-list {
    flex-direction: column;
  }

  .avatar {
    width: 100px;
    height: 100px;
  }
}